/* universal */

html {
  font-size: 16px;
}

body {
  background-color: brown;
}

.sixty-left {
  width: 60%;
  margin: 32px 24px;
}

.forty-right {
  width:40%;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: white;
}

header div, header nav {
  margin: 0 24px;
}

header img {
  height: 2.5rem;
}

header, header .logo, header nav {
  display: flex;
  align-items: center;
}

.logo {
  text-transform: uppercase;
}

#academy {
  color: lightgrey;
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
}

/* banner */


.banner {
  display: flex;
  align-items: center;
  background-color: grey;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
}



.invite {
  padding-right:20%;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
}

.banner p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.button {
  width: 100%;
  padding: 8px 0;
  background-color: black;
  text-align: center;
}

.button a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
}

/* information */

.information {
  background-color: white;
}
